h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

.square {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  font-size: 150px;
  text-align: center;
}

#square0,
#square1,
#square2 {
  border-top: none;
}

#square0,
#square3,
#square6 {
  border-left: none;
}

#square6,
#square7,
#square8 {
  border-bottom: none;
}

#square2,
#square5,
#square8 {
  border-right: none;
}

.gameBoard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 620px;
  margin: 0 auto;
}

#resetButton {
  background-color: whitesmoke;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 24px;
  margin-top: 10%;
}
