.square {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  font-size: 150px;
  text-align: center;
}

#square0,
#square1,
#square2 {
  border-top: none;
}

#square0,
#square3,
#square6 {
  border-left: none;
}

#square6,
#square7,
#square8 {
  border-bottom: none;
}

#square2,
#square5,
#square8 {
  border-right: none;
}

.gameBoard {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}
